  .alerta-exito {
  background: #d4edda;
  color: #155724;
  padding: 10px 20px;
  border: 1px solid #c3e6cb;
  border-radius: 6px;
  margin-bottom: 15px;
  font-weight: bold;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background: #fff;
  }

  .navbar {
    background: #CC1A1A;
    color: white;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-section {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .navbar-left {
    justify-content: flex-start;
  }

  .navbar-center {
    justify-content: center;
    gap: 30px;
  }

  .navbar-right {
    justify-content: flex-end;
  }

  .navbar-title {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }

  .navbar-center a {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .search-box {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 30px;
    padding: 5px 10px;
  }

  .search-box input {
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 30px;
  }

  .search-box i {
    color: black;
    margin-right: 5px;
  }

  .content {
    padding: 30px;
  }

  .card {
    background: #eee;
    padding: 30px 20px 20px 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .etiqueta {
    position: absolute;
    top: -12px;
    left: 10px;
    background: #6ec1e4;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
  }

  .detalle-cita {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #9CD8D9;
    color: black;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
  }

  .card h4 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 15px;
    color: #555;
  }

  .info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 40px;
    font-size: 15px;
    color: #333;
  }

  .tabla-container {
    overflow-x: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
  }

  th {
    background: #ccc;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .detalle-cita-afiliado {
    background: #9CD8D9;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: bold;
    color: black;
    cursor: pointer;
  }

  .btn-afiliado {
    background: #019b39;
    color: white;
    font-weight: bold;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    float: right;
    margin-bottom: 10px;
    cursor: pointer;
  }
  /* Título centrado simple */
    
  .titulo-pagina {
  
  font-size: 28px;
  font-weight: bold;
  color: #333;
  }

  .titulo-container-subtle {
  background: #008080;
  border-left: 8px solid #CC1A1A;
  padding: 2px 5px;
  margin: 20px 0 10px 0;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);

  }

  .titulo-container-subtle h2 {
  margin: 0;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  color: white;
  }

  a i {
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }

.titulo-fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 10px;
}

.titulo-sistema {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 0;
  flex: 1;
}

.acciones-inline-titular {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn-inline {
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-lista {
  background: #6C5CE7;
}
.btn-lista:hover {
  background: #5B4DCC;
}

.btn-ver {
  background: #0984E3;
}
.btn-ver:hover {
  background: #086FBC;
}

.btn-registrar {
  background: #00b844;
}
.btn-registrar:hover {
  background: #00b844;
}


.acciones-extendidas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding: 10px;
}


/* Colores específicos */
.btn-lista {
  background: #6C5CE7;
}
.btn-lista:hover {
  background: #5B4DCC;
}

.btn-ver {
  background: #0984E3;
}
.btn-ver:hover {
  background: #086FBC;
}

.btn-registrar {
  background: #00b844;
}
.btn-registrar:hover {
  background: #00b844;
}

.btn-editar {
  background: #E67E22;
}
.btn-editar:hover {
  background: #CA6F1E;
}

.btn-eliminar {
  background: #D63031;
}
.btn-eliminar:hover {
  background: #B72525;
}



.btn-accion {
  flex-direction: column;
  width: 60px;
  height: 60px;
  font-size: 10px;
  padding: 6px;
  text-align: center;
  line-height: 1;
}

.btn-accion i {
  font-size: 16px;
  margin-bottom: 4px;
}

.btn-accion span {
  font-size: 11px;
  font-weight: bold;
  display: block;
  color: white;
}


  .btn-lista {
  background: #6C5CE7; /* Púrpura */
}
.btn-lista:hover {
  background: #5B4DCC;
}

.btn-ver {
  background: #0984E3; /* Azul acero */
}
.btn-ver:hover {
  background: #086FBC;
}

.btn-registrar {
  background: #019b39; /* Verde lima oscuro */
}
.btn-registrar:hover {
  background: #019b39;
}

.btn-editar {
  background: #E67E22; /* Naranja fuerte */
}
.btn-editar:hover {
  background: #CA6F1E;
}

.btn-eliminar {
  background: #D63031; /* Rojo oscuro */
}
.btn-eliminar:hover {
  background: #B72525;
}





    .titulo-container-subtle h2 {
    margin: 0;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    color: white;
    }

    a i {
      text-decoration: none;
    }
    a {
      text-decoration: none;
    }
    .back-button {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    transition: color 0.3s ease;
  }

  .back-button:hover {
    color: #cc1a1a;
    text-shadow: 1px 1px 3px rgba(204, 26, 26, 0.6);
  }

  .back-text {
    font-size: 18px;  
    font-weight: normal;
  }
  .back-button:hover {
    color: #cc1a1a;
    text-shadow: 1px 1px 3px rgba(204, 26, 26, 0.6);
  }
  .toast-exito {
    position: fixed;
    top: 20px;
    left: 45%;
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font-weight: bold;
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out;
  }


  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: #fff;
}

footer {
  margin-top: auto;
  text-align: center;
  font-size: 14px;
  padding: 20px 10px;
  background-color: #f8f8f8;
  color: #444;
  border-top: 1px solid #ccc;
}

footer a {
  color: #b1071e;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
  }

  .navbar-section.navbar-center {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
  }

  .menu {
    flex-direction: column;
    gap: 15px;
  }

  .menu-item {
    width: 90% !important;
    height: auto;
    padding: 30px 20px;
  }

  .filter,
  .search-box,
  .filter-left,
  .filter-right {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 10px;
  }

  .search-box input {
    width: 100%;
  }

  table {
    font-size: 14px;
    overflow-x: auto;
    display: block;
  }

  .acciones-container {
    flex-direction: column;
  }
}
